.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.flutter/
.cache/
build/
coverage/

android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

*.iml
.idea/
.vscode/

.env
.env.*
!.env.example
